@font-face {
  font-family: 'PoppinsLight';
  src: url('./resources/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('./resources/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./resources/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./resources/fonts/Poppins-Bold.ttf');
}

body {
  font-family: PoppinsRegular;
  margin: auto;
  padding: 0;
  max-width: 38rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
}
